body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBackground {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #D6C6AA;
  padding: 5vh;
}

.venn {
  height: 80vh;
  position: center;
  padding:0%;
  margin: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;