@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.homeBackground {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #D6C6AA;
  padding: 5vh;
}

.venn {
  height: 70vh;
  align-self: left;
  padding:0%;
  margin: auto;
}

