
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  
}

.venn {
  height: 70vh;
  align-self: left;
  padding:0%;
  margin: auto;
}


